@model List<Project>;

<!DOCTYPE html>
@{
    ViewBag.Title = "Project";
    var IsUsingProject = ViewBag.IsUsingProject;
    var ProjectID = ViewBag.ProjectID;
    var ProjectModel = Model;
    var ToggleProjectHeader = ViewBag.ToggleHeader;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Project-site/Registered-Navigation.css">
    <script language="javascript" type="module" src="~/js/Registered-Nav/Sidebar-Handler.js"></script>
</head>

    <body>
        <div class="Horizontal-Bar">
            <button class="nav-bar-trigger">
                <img src="/Images/menu-regular-48Gray.png" />
            </button>

            @if (ToggleProjectHeader == true)
            {
                <div class="Header-Bar">
                    @if (ProjectModel is not null && IsUsingProject == true)
                    {
                        <h1>
                            @ProjectModel[0].Name;
                        </h1>
                    }
                    else
                    {
                        <h1>
                            Your project
                        </h1>
                    }
                </div>
            }
        </div>

        <div class="nav-container">
            <nav class="nav-bar">
                <div class="Menus">
                    <button>
                        <img src="~/Images/menu-regular-48Gray.png" />
                    </button>
                </div>
                <div class="User-Profile-Canva">
                    <button class="Profile-Button">
                        <img src="~/Images/User-Profile.png">
                        <span>@ViewData["username"]</span>
                    </button>
                </div>
            @{
                if (ProjectModel is not null && IsUsingProject == true)
                {
                    <div class="Scheduled-Views">
                        <button onclick="location.href ='@Url.Action("Calendar_Project_Section","MainPage",new { ProjectID })'">
                            <img src="~/Images/Scheduled.png">
                            <span>Schedule</span>
                        </button>
                    </div>
                    <div class="Task-Views">
                        <button onclick="location.href = '@Url.Action("User_Task","MainPage",new { ProjectID })'">
                            <img src="~/Images/TaskListpng.png" />
                            <span>Task</span>
                        </button>
                    </div>
                }
            }
                <div class="User-settings">
                    <button>
                        <img src="~/Images/setting-iconpng.png">
                        <span>Settings</span>
                    </button>
                </div>
            </nav>
        </div>
        

        @RenderBody()

    </body>
</html>