@model List<Project>;
@using System.Text.Json;
@{
    Layout = "~/Views/Shared/Registered_Navigation.cshtml";
    var Task_ = Model.Select(e => e.Task_List).ToList()[0];
}

<head>
    <link rel="stylesheet" href="~/css/Project-site/Registered-Navigation.css">
    <link rel="stylesheet" href="~/css/Project-site/_Task_.css">
    <script lang="javascript" type="module" src="~/js/Scheduled-Page/UserTask-Page.js"></script>
    <script lang="javascript" type="module" src="~/js/Registered-Nav/Sidebar-Handler.js"></script>
</head>

<body>
    <div class="Main-Section">
        @{
            if (Task_.Any() == true)
            {
                ///Accessing every element of task
                ///
                foreach (var t in Task_)
                {
                    var Task_Obj = JsonSerializer.Deserialize<UserTask>(t);///Convert string to UserTask obj
                    
                    if (Task_Obj is not null)
                    {
                        ///Getting the current project
                        var CurrentProject = Model.Where(e => e.id == Task_Obj.RootProject_ID).ToList()[0];

                        ///Display the task design
                        <div class="Task_Container">
                            <div class="Defualt_Tag_Collums">
                                <div class="Catergory_Header_Container">
                                    <h2 class="Catergory_Header">@Task_Obj.Tags</h2>
                                    <button class="CreateNewCategory">
                                        <img class="Create_Task_Icon" src="/Images/plus-regular-60.png" alt="Task creation button">
                                    </button>
                                </div>
                            </div>

                            <div class="Tag_Template" data-TaskId = "@Task_Obj.id()" data-projectid = "@CurrentProject.id" data-rootprojectid = "@Task_Obj.RootProject_ID">
                                <div class="Template_Header_Container">
                                    <img class="Task_Icon" src="~/Images/notepad-solid-48.png">
                                    <h1 class="Task_Template_Header">
                                        @Task_Obj.Name
                                    </h1>
                                </div>
                                <div class="Tag_Properties_Container">
                                    <p class="Properties">Tag: @Task_Obj.Tags</p>
                                </div>
                                <div class="Duedate_Properties_Container">
                                    <p class="Properties">Due-date: @Task_Obj.Due_Date</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
            else if (Model is not null && Task_.Any() == false)///Checking for user task
            {
                ///display create new Task screen
                <div class="Container_">
                    <div class="Header_Container">
                        <h1 class="Intro_Header">Let's get started! with making new task</h1>
                        <button class="CreateNewTask">Create your first task!</button>
                    </div>
                </div>               
            }

            <div class="Task_dialog">
                <div class="Task-Sub-dialog">
                    <form class="dialog_Form" id="Task-info" method="post" asp-action="CreateNewTask"
                          asp-controller="Main_Api" asp-route-ProjectID="@Model[0].id">
                        <button class="Cancel-icon">
                            <img id="X-Icon" src="~/Images/x-regular-48.png">
                        </button>

                        <div class="Portions_Container">
                            <input value="" contenteditable="true" type="text" maxlength="50" class="Task_TextBox_Header" placeholder="Untitled"
                                   name="Task_Name" required autocomplete="off" id="Text-Box-Header">
                        </div>

                        <div class="Atributes_Container">
                            <div class="Atributes_">
                                <label class="Task-Dialog-label">Tags: </label>
                                <input contenteditable="true" type="text" name="TagName" maxlength="20" class="Tags_Selection" autocomplete="off"
                                       required id="Text-Box-Tags">
                            </div>

                            <div class="Atributes_">
                                <label class="Task-Dialog-label">Due-date:</label>
                                <input contenteditable="true" autocomplete="off" class="DueDate_Box" required type="date" name="Task_Duedate"
                                       id="Task-TextBox">
                            </div>
                        </div>

                        <div class="Main_Description_Container">
                            <textarea rows="50" cols="100" id="Task-TextBox-Description" placeholder="Your ideas start here"
                            required name="Task_Content"></textarea>
                        </div>


                        <input class="Task-Save-button" type="submit" value="Save">
                    </form>
                </div>
            </div>

        }
    </div>
</body>
